{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <!--sposob wyswietlania na urzadzeniach mobilnych-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <title>Sklep militarny</title>
        <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/favicon.ico' %}">
    </head>

    <body>
    <div id="wrapper">
        <header>
                <img class="temp" src="{% static 'images/logosklepu.png' %}" height="200px;" alt="My image">
        </header>
            <nav>
                <a class="menu" href="/">Sklep militarny TOM-STA</a>
                <a class="menu active" href="/galeria.html">Best Sellery</a>
                <a class="menu" href="/kontakt.html">Kontakt</a>

                <a class="menu">
                    <form action="/search">

                              <input name="q" type="text" autocomplete="off"  size="11" placeholder="Wyszukaj produkt" />
                                    <button class="button" type=submit" >Zatwierdź</button>
                     </form>
                </a>

            </nav>

            <section>
            <article id="ar01">
                <h1>Najlepiej sprzedające się:</h1>



                <figure class="photo">
                    <a href="/produkt/17"><img src="{% static 'images/1.png' %}" alt="Wiatrowka1"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/2"><img src="{% static 'images/2.png' %}" alt="Wiatrowka2"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/1"><img src="{% static 'images/3.png' %}" alt="Wiatrowka3"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/7"><img src="{% static 'images/4.png' %}" alt="Latarka"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/5"><img src="{% static 'images/5.png' %}" alt="GazPieprzowy"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/3"><img src="{% static 'images/6.png' %}" alt="Palkateleskowa"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/19"><img src="{% static 'images/7.png' %}" alt="Fotopulapka"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/26"><img src="{% static 'images/8.png' %}" alt="LukBloczkowy"></a>
                </figure>

                <figure class="photo">
                    <a href="/produkt/10"><img src="{% static 'images/9.png' %}" alt="Kompas"></a>
                </figure>

            </article>
                </section>


        <footer>Copyright © Wszystkie prawa zastrzeżone</footer>

    </div>
    </body>

</html>
