{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <!--sposob wyswietlania na urzadzeniach mobilnych-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <title>Sklep militarny</title>
        <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/favicon.ico' %}">
    </head>

<body>
    <div id="wrapper">
        <header>
                <img class="temp" src="{% static 'images/logosklepu.png' %}" height="200px;" alt="My image">
        </header>
            <nav>
                <a class="menu" href="/">Sklep militarny TOM-STA</a>
                <a class="menu" href="/galeria.html">Best Sellery</a>
                <a class="menu active" href="/kontakt.html">Kontakt</a>

                <a class="menu">
                    <form action="/search">

                              <input name="q" type="text" autocomplete="off"  size="11" placeholder="Wyszukaj produkt" />
                                    <button type="submit" >Zatwierdź</button>
                     </form>
                </a>

            </nav>

            <article>
                <h1>Dane kontaktowe</h1>
                    <p style="text-align: center;">
                        <i>
                            Tomasz Tomasz<br>
                        </i>
                        <b>tel:</b> 123-321-132<br><br>
                      </p>

                <h2 style="text-align: center;">Formularz kontaktowy</h2>
                <form action="/send_form.php" method="post"></form>
                    <form method="post" action="/action_page.php" id="contact_form" autocomplete="off">
                        <label for="name">Imię i nazwisko</label><br>
                        <input type="text" name="name" id="name" class="formField" /><br>
                        <label for="email">Adres email</label><br>
                        <input type="text" name="email" id="email" class="formField" /><br>
                        <label for="message">Treść wiadomości</label><br>
                        <textarea name="message" cols ="60" rows="6"></textarea><br>
                        <input type="submit" value="Prześlij">
                    </form>


            </article>


        <footer>Copyright © Wszystkie prawa zastrzeżone</footer>

    </div>

</body>
</html>