{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <!--sposob wyswietlania na urzadzeniach mobilnych-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <title>Sklep militarny</title>
        <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/favicon.ico' %}">
    </head>

<body>
    <div id="wrapper">
        <header>
                <img class="temp" src="{% static 'images/logosklepu.png' %}" height="200px;" alt="My image">
        </header>
            <nav>
                <a class="menu" href="/">Sklep militarny</a>
                <a class="menu" href="/galeria">Bestseller</a>
                <a class="menu active" href="/kontakt">Kontakt</a>
                <a class="menu" href="/pogoda">Pogoda</a>
                <a class="menu">
                    <form action="/search">

                              <input name="q" type="text" autocomplete="off" title="Do wyszukania podaj co namniej jedną literę bądź cyfrę" required="required" size="11" placeholder="Wyszukaj produkt" />
                                    <button class="button" type=submit" >Zatwierdź</button>
                     </form>
                </a>
                {% if user.is_authenticated %}
                <a></a><a></a><a></a><a></a>
                <a class="menu" href="JavaScript:{document.getElementById('logout').submit()}">Wyloguj</a>


                {% else %}
                <a></a><a></a><a></a>
                <a class="menu" href="{% url 'signup_page' %}">Zarejestruj się</a>
                <a class="menu" href="{% url 'login_page' %}">Zaloguj</a>
                {% endif %}

            </nav>
            <section>
            <article>
                <h1>Dane kontaktowe</h1>
                    <p style="text-align: center">
                        <i>
                            Tomasz Tomasz<br>
                        </i>
                        <b>tel:</b> 123-321-132<br><br>
                        <b>Email:</b> Sklepmilitarnytomsta@gmail.com<br><br>
                    </p>
            </article>
            </section>



        <footer>Copyright © Wszystkie prawa zastrzeżone</footer>

    </div>

    {% if user.is_authenticated %}
    <form id="logout" method="POST" action="{% url 'logout_page' %}">
        {% csrf_token %}
        <input type="hidden">
    </form>
    {% endif %}
</body>
</html>