<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
    <!--sposob wyswietlania na urzadzeniach mobilnych-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="Styl.css">-->
    <title>Sklep militarny</title>
</head>
<body>
        <header>


        </header>

        <nav>
            <a class="menu active" href="index.html">O mnie</a>
            <a class="menu" href="portfolio.html">Portfolio</a>
            <a class="menu" href="hobby.html">Hobby</a>
            <a class="menu" href="kontakt.html">Kontakt</a>
        </nav>

        <div style="width: 200px; float: left">

            <h1>Witam</h1>
            <h3>Kategorie</h3>
            {% for kat in kategorie %}
                <p><a href="/kategoria/{{kat.id}}">{{ kat.nazwa }}</a> </p>
            {% endfor %}
            <div>
                <form class="form-inline my-2 my-lg-0" action="/search">
                      <div class="input-group mb-3">
                          <input name="q" type="text" class="form-control" placeholder="Wyszukaj produkt" />
                          <div class="input-group-append">
                            <button class="btn btn-dark" type="submit" id="button-addon2">Zatwierdź</button>
                          </div>
                        </div>
                 </form>
            </div>
        </div>



        <div style="width: 700px; float: left">
            {% block produkt %}
    {% if dane %}
            <h3>Wynik wyszukania dla: "{{ request.GET.q}}"</h3>
            {% for temp_dane in dane %}
            <p><a href="/produkt/{{temp_dane.id}}">{{ temp_dane.nazwa}}</a> </p>
<!--        <h1> {{temp_dane.nazwa}} </h1>-->
<!--        <p> Producent: {{temp_dane.producent}} </p>-->
<!--        <p> {{temp_dane.opis}} </p>-->
<!--        <p> {{temp_dane.cena}} </p>-->
            {% endfor %}
    {% else %}
        <p>Nie ma produktu o takiej nazwie.</p>
    {% endif %}
            {% endblock %}

        </div>


</body>
</html>



