{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <!--sposob wyswietlania na urzadzeniach mobilnych-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <title>Sklep militarny</title>
        <link rel="icon" type="image/png" sizes="16x16"  href="{% static 'images/favicon.ico' %}">

    </head>

    <body>
    <div id="wrapper">
        <header>
                <img class="temp" src="{% static 'images/logosklepu.png' %}" height="200px;" alt="My image">
        </header>
            <nav>
                <a class="menu active" href="/">Sklep militarny TOM-STA</a>
                <a class="menu" href="/galeria.html">Best Sellery</a>
                <a class="menu" href="/kontakt.html">Kontakt</a>

                <a class="menu">
                    <form action="/search">

                              <input name="q" type="text" autocomplete="off" title="Do wyszukania podaj co namniej jedną literę bądź cyfrę" required="required" size="11" placeholder="Wyszukaj produkt" />
                                    <button class="button" type=submit" >Zatwierdź</button>
                     </form>
                </a>

            </nav>

            <section>
                <div id ="navig" >
                    <div id="czas"></div>
                    <h1>Kategorie</h1>
                    {% for kat in kategorie %}
                        {% if kat.zdjecie %}
                             <a class="mainphoto" href="/kategoria/{{kat.id}}"><img src="{{ MEDIA_URL }}{{ kat.zdjecie.url }}" alt="img"></a>
                        {% endif %}
                        <p><a class="kat" href="/kategoria/{{kat.id}}">{{ kat.nazwa }} </a> </p>
                    {% endfor %}

                </div>

                <div id ="searchwindow">
                    {% block produkt %} {% endblock produkt %}
                </div>
            </section>

        <footer>Copyright © Wszystkie prawa zastrzeżone</footer>

    </div>

        <script type="text/javascript">
            function getTime() {
                return (new Date()).toLocaleTimeString();
            }

            //wywołanie ma na celu eliminację opóźnienia sekundowego
            document.getElementById('czas').innerHTML = getTime();

            setInterval(function() {
                document.getElementById('czas').innerHTML = getTime();
            }, 1000);
        </script>


    </body>

</html>
