* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

body {
    background-color: #01290d;
}

#wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto 0 auto;
    background-color: white;
}

#navig {
    margin: 0px;
    padding: 20px;
    width: 25%;
    float: left;
    background-color: cadetblue;
}
#navig h1 {
    text-align: center;
}

#navig p {
    text-align: center;
    font-size: 20px;
}

#searchwindow {
    padding: 45px;
    width: 75%;
    float: left;
    background-color: cadetblue;
}

#mainwindow {
    margin: 0 auto 0 auto;
    padding: 25px;
    display: block;
    width: 100%;
    font-size: 30px;
    height: 100%;
    border-bottom: 1px solid white;
    text-align: center;
    float: left;
}


#mainwindowprodukt {
    padding: 15px;
    display: block;
    width: 100%;
    height: 100%;

}

#mainwindowprodukt h3 {
    font-size: 30px;
    text-align: center;
}

#mainwindowprodukt p
{
    font-size: 25px;
    text-align: justify;
}


section::after {
    content: "";
    clear: both;
    display: table;
}

section {
    background-color: cadetblue;
}

header img {
    width: 100%;
    display: block;
}

nav {
    overflow: hidden;
}


nav a {
    display: block;
    width: 25%;
    float: left;
    color: white;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(5, 78, 0);
    line-height: 3;

    transition: all 0.5s ease;
}

section a {
    text-decoration: none;
    color: #e2dfdf;
}

nav form {
    background-color: rgb(5, 78, 0);
    line-height: 3;
}

a.menu:hover {
    background-color: rgb(134, 0, 36);
}

.active {
    background-color: rgb(134, 0, 36);
}

article {
    margin: 30px 20px 10px 0;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 20% 20px 20%;
    padding-bottom: 15px;
    border-bottom: 5px solid rgb(169, 185, 18);
}

article form {
    text-align: center;
}

img.left {
    float: left;
    margin: 0px 10px 10px 0;
    width: 30%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
    padding: 15px 0 15px 0;
}

footer {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 79, 20);
    color: white;
    line-height: 40px;
    text-align: center;

}

.photo {
    width: 33%;
    opacity: 0.5;
    padding: 10px;
    box-sizing: border-box;
}

article figure {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.photo img {
    width: 100%;
}

.photo:hover {
    opacity: 1;
    transition: 0.5s all linear;
    transform: scale(1.1);
}

.mainphoto img {
    padding: 10px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
}

table {
    margin: 10px;
}

#t01 {
    width: 100%;
    background-color: rgb(245, 243, 243);

}

#ar01 {
    margin: 0px;
}


.show-text {
    display: none;
}

.show-text:target {
    display: block;
}

#mainwindowprodukt .name {
    padding: 55px;
    text-align: center;
    font-size: 35px;
}

#mainwindowprodukt .manufacturer{
    text-align: left;
    font-size: 30px;
}

#mainwindowprodukt .description {
    text-align: justify;
    font-size: 20px;
}

#mainwindowprodukt .price {
    text-align: right;
    font-size: 40px;
}

#searchwindow h3 {
    text-align: center;
    font-size: 25px;
}

.button {
    background-color: cadetblue; /* Green */
    color: white;
    padding: 4px 10px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border: 3px solid #555;
    height: 40px;
}

input[type=text] {
    background-color: cadetblue;
    color: white;
    border: 3px solid #555;
    font-size: 15px;
    height: 40px;
}


@media (max-width: 900px) {
    nav a {
        width: 50%;
    }

    .photo {
        width: 100%;
        opacity: 0.7;
        padding: 0px;
        box-sizing: border-box;
    }

    .photo:hover {
        opacity: 1;
        transition: 0.5s all linear;
        transform: scale(1.0);
    }

    #t01 {
        width: 100%;
        background-color: rgb(245, 243, 243);
        font-size: 13px;
        padding: 0px;
    }

    article p {
        font-size: 12px;
        padding: 0px;
    }

    #searchwindow {
        padding: 15px;
    }

    #mainwindow {
        font-size: 18px;
    }

    #mainwindowprodukt .name {
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }

    #mainwindowprodukt .manufacturer{
        text-align: center;
        font-size: 20px;
    }

    #mainwindowprodukt .description {
        padding: 10px;
        text-align: justify;
        font-size: 15px;
    }

    #mainwindowprodukt .price {
        text-align: left;
        font-size: 30px;
    }

    #searchwindow h3 {
        text-align: center;
        font-size: 25px;
    }

    .mainphoto img {
        width: 100%;
    }


}
@media (max-width: 600px) {
    nav a {
        width: 100%;

    }
    #t01 {

        font-size: 11px;
    }
    #searchwindow {
        padding: 0px;
    }

    #mainwindowprodukt .name {
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }

    #mainwindowprodukt .manufacturer{
        text-align: center;
        font-size: 20px;
    }

    #mainwindowprodukt .description {
        padding: 15px;
        text-align: justify;
        font-size: 14px;
    }

    #mainwindowprodukt .price {
        text-align: left;
        font-size: 20px;
    }

    #searchwindow h3 {
        text-align: center;
        font-size: 25px;
    }

    .mainphoto img {
        width: 100%;
    }
}

